.body{
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.am{
    color: orange;
}
.jam{
    width: 40%;
    float:left;
    margin-left:5%;
    padding-left:3%;
}
.jam img{
    width:80%;
}
.top-banner{
    
    background-image: url("imges/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 50px;
}
.link-baton{
    text-decoration: none;
  background:linear-gradient(45deg lightsalmon tomato); 
  background-color:orange;
    padding: 10px 20px;
    border-radius :5px;
    color:white;
    font-weight: 700;

}
.drem-area{
    background-image: url("imges/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
.khola{
    box-shadow: 10px 10px 40px rgb(128, 128, 128);
    border-radius: 20px;
    height: 50%;
    padding: 5px;
} 
.experience-area{
    background-image: url("imges/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#Baby Web{
    border-radius: 7px solid green;
}
